.main {
    height: 30px;
    width: 200px;
    display: flex;
    position: relative;
}

.input {
    height: 30px;
    width: 200px;
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    z-index: 1;
    font-size: 12pt;
    color: rgb(0,0,0,0);
    caret-color: black;
    background-color: transparent;
}

.text {
    flex: 0 1;
    font-size: 12pt;
}

.placehold {
    flex: 1;
    font-size: 12pt;
    text-align: left;
}