.main {
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 220px;
    display: flex;
    position: relative;
    border: 1px solid black;
}
.floatingInputs {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 220px;
}

.groundProxy {
    display: flex;
    width: 220px;
}

.input {
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    font: 400 13.3333px Arial;
    caret-color: black;
    background-color: transparent;
}

.inputTemp {
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    font: 400 13.3333px Arial;
    caret-color: black;
    color: grey;
    background-color: transparent;
}

.input:focus {
    outline: none;
}

.valueText {
    flex: 0 1;
    font: 400 13.3333px Arial;
    letter-spacing: normal;
    white-space: nowrap;
    color: transparent;
}

.placeHoldText {
    flex: 1;
    font: 400 13.3333px Arial;
    letter-spacing: normal;
    white-space: nowrap;
    color: transparent;
    overflow: hidden;
}

